# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
/.idea/
/.vscode/

# материалы задания, в публичный репозиторий не уходят
/_context/
